.product-card {
  transition: transform 0.3s ease;
  border-color: navy;
  cursor: pointer; /* Makes it clear that the card is clickable */
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  text-align: center;
  color: navy;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.quantity-btn {
  background-color: white;
  color: navy;
  border-color: navy;
}

.quantity-btn:hover {
  background-color: navy;
  color: white;
}

.quantity {
  font-weight: bold;
  color: navy;
  margin: 0 15px;
}

.product-details {
  text-align: center;
  margin-top: 10px; /* Adds space between the quantity buttons and the details */
}

.product-price {
  color: green; /* Color for the price, can be adjusted */
  font-weight: bold;
}

.product-description {
  color: #333; /* Darker color for the description for readability */
  font-size: 0.9em; /* Slightly smaller font size for the description */
}
